*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}


header{
  text-align: center;
  width:100%;
  height: 100px;
  background-color:aliceblue;
  
}

header >a{
  text-decoration: none;
  color: red;
  position: relative;
  top :35px;
  margin-left: 20px;
}

.img{
  justify-content: center;
  
}

img {
  width: 350px;
  margin: 10px;
  display: inline-block;
}

video{
  margin: 10px;
  width: 300px;
}

footer{
  width: 100%;
  height: 100px;
  background-color: aqua;
  text-align: center;
}

.action{
  width: 100%;
  text-align: center;
}

#thaphuong{
  width: 100%;
  display: block;
}

.action > a{
  text-decoration: none;
  
}