body{
  display: flex;
}

div{
  margin: 0 auto;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
}

audio{
  position: relative;
  width: 500px;
  height: 54;
 
}