*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background-color: black;
    color:#fabda6;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    position: relative;
}

header > p {
    margin: 10px;
    display: inline-block;

}

.dki {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 10px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.dki:hover{
    color: aliceblue;
    text-decoration: none;
    transform: scale(1.1);
}

.dki1 {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 150px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.dki1:hover{
    color: aliceblue;
    text-decoration: none;
    transform: scale(1.1);
}

.logo{
    text-align: center;
}

.logo > img{
    width: 300px;
    margin:50px;
}

.navbar1{
    margin-bottom: 50px;
}

.cl {
    position: relative;
}

#cl-ao:hover .menu1{
    display: block;
    
}

i{
    font-size: 10px;
}

.bx-home-heart{
    font-size: 25px;
}

.ao{
    display: inline-block;
    margin-right: 80px;
}

.quan{
    display: inline-block;
    margin-right: 60px;
}



.menu1{
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.15);
    position: absolute;
    z-index: 1;
    transform: translate(160px,-30px);
    transition: 1s;
    display: none;
}






.slide1{
    margin-bottom: 40px;
}

.title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.title > .xu-huong-moi-nhat{
    text-align: center;
    
    
}

.title > .hang-moi-ve{
    text-align: center;
}



.product{
    width: 44vh;
    display: inline-block;
    margin: 23px;
}

.product > img{
    width: 100%;
}

.product > .name-product{
    font-size: 15px;
    font-weight: bold;
}


.wrap-small{
    
    display: flex;
}

.small-slide{
    width: 30%;
    margin:3%;
}

.smimg{
    transition: 0.3s;
}

.smimg:hover{
    transform: scale(1.2);
}

.anh-thuong-hieu{
    width:15%;
    margin: 10px;
}

.footer{
    background-color: black; 
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.ft1{
    color: white;
    width: 22%;
    margin: 20px;
}

.ft1 > img{
    width: 100%;
}



.product{
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}



.product > img{
    transition: 0.5s;
}

.product > img:hover{
    transform: scale(1.2);
}

.dep-trai{
    text-align: center;
    width: 200px;
    height: 50px;
    border: solid black 2px;
    font-weight: bold;
    transition: 0.3s;
    margin: auto;
}

.dep-trai > p{
    
    margin:10px auto;
}
.dep-trai:hover{
    background-color: black;
    color: aliceblue;
}

.giathue{
    text-decoration: line-through;
    margin-right: 10px;
}