<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><b>I. QUY ĐỊNH VỀ ĐỔI TRẢ SẢN PHẨM</b></p>
        <img src="https://clickbuy.com.vn/uploads/2019/06/image.png" alt="Alternate Text" />
        <p>II – BẢO HÀNH IPHONE | IPAD CŨ</p>
        <img src="https://clickbuy.com.vn/uploads/2022/06/bh-ip-cu-1.jpg" alt="Alternate Text" />
        1. BẢO HÀNH 1 ĐỔI 1 ICARE PRO

        SẢN PHẨM ÁP DỤNG: iPhone, iPad cũ, TBH

        – Thời gian bảo hành gói iCare Pro 1 đổi 1 máy Apple mới, cũ là 12 tháng

        – Bảo hành pin: Pin sẽ được thay mới khi pin dưới 80% hoặc pin báo ảo. Pin thay là pin do đơn vị thứ 3 cung cấp, đã được kiểm soát chất lượng và được bảo hành tại Clickbuy.

        –  Đổi máy sau khi máy được kỹ thuật kiểm tra và xác định đúng máy bị lỗi phần cứng do nhà sản xuất.

        – Máy đổi bảo hành cho iPhone | iPad cũ, trả bảo hành là máy tương đương với máy khách hàng đang dung gặp lỗi.

        – Máy lỗi trong trường hợp bị cấn móp nếu mua bảo hành iCare Pro sẽ được sửa chữa thay thế, không được đổi máy. Máy lỗi bị cấn móp nếu không mua gói bảo hành iCare Pro sẽ bị từ chối bảo hành

        –  Nếu máy được đổi có lỗi tiếp, máy vẫn sẽ được bảo hành 1 đôi 1 trong thời gian bảo hành còn lại

        –  Với các trường hợp quá thời hạn xử lý vẫn không có máy để đổi ngay thì Clickbuy cam kết:

        Đổi cho khách hàng một sản phẩm tương đương với giá trị hiện tại của sản phẩm

        Hoàn trả tiền lại cho khách hàng theo công thức sau:

        Giá nhập lại = Giá máy cũ tại thời điểm hiện tại X 80%

        Chỉ áp dụng máy đổi máy, tất cả các phụ kiện kèm theo như: tai nghe, cáp, sạc… không đổi kèm

        Trường hợp khách hàng được đổi máy nhưng muốn đổi sang dòng máy khác có giá trị cao hơn hoặc muốn hoàn lại tiền mặt. Clickbuy hỗ trợ nhập lại máy như sau: Giá nhập lại = Giá máy cũ tại thời điểm hiện tại X 80%

        2.  ĐẶC QUYỀN BẢO HÀNH TRỌN ĐỜI IPHONE CŨ

        Sản phẩm áp dụng:  iPhone cũ – Trả bảo hành
        Chỉ Áp dụng khi khách hàng nâng cấp bảo hành iCare Pro
        Máy được Tính lại bảo hành từ ban đầu nếu lỗi: Trong thời gian còn bảo hành, nếu máy lỗi sẽ được tính lại bảo hành là 12 tháng. Nếu tiếp tục lỗi trong 12 tháng này sẽ tiếp tục được tính lại bảo hành từ đầu.
        Máy được chính sách 1 đổi 1 nếu lỗi trong thời gian 12 tháng kể từ ngày mua đầu tiên. Sau 12 tháng kể từ ngày mua đầu tiên nếu máy lỗi sẽ được sữa chữa miễn phí nhưng không được đổi mới.
        Pin chỉ bảo hành 12 tháng kể từ ngày mua ban đầu, Sau 12 tháng Pin sẽ không được bảo hành.

        Trường hợp máy được bảo hành sửa chữa không sửa được. Quý khách sẽ được xử lý:
        Đổi máy cũ tương đương
        Nhập lại theo công thức: Giá máy cũ tại thời điểm hiện tại X 80%
    </div>
</body>
</html>
