

<div class="infor-contact">
    <b>THÔNG TIN LIÊN LẠC</b><br />
    <a href="#">Hotline bán hàng:</a>
    <b>0966 06 2468</b> or

    <b>   1900 633 471</b> <br />

    <a href="#">Hotline bảo hành kĩ thuật:<b>1900 633 471</b></a><br />
    <a href="#">Hotline hỗ trợ phần mềm:<b>096 282 4422</b></a><br />
    <a href="#">Hotline phản ánh chất lượng dịch vụ:<b style="color:red">1900 633 471</b></a><br />
</div>